# App

APP_ENV=development
APP_DEBUG=true
SECRET_KEY=change_me_in_production

# Tokens
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

# PostgreSQL
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_pass
POSTGRES_DB=your_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# FakeUserRole
DEV_FAKE_ROLE=OWNER